/*
 * Aristo Stop Transactions
 * Provide Aristo Stop Transactions
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: ravviz@nytimes.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapi.api;

import org.openapi.invoker.ApiCallback;
import org.openapi.invoker.ApiClient;
import org.openapi.invoker.ApiException;
import org.openapi.invoker.ApiResponse;
import org.openapi.invoker.Configuration;
import org.openapi.invoker.Pair;
import org.openapi.invoker.ProgressRequestBody;
import org.openapi.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import org.openapi.model.SelectHDStopTransResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HdStopApi {
    private ApiClient localVarApiClient;

    public HdStopApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HdStopApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getAristoStopsTransactions
     * @param accountId HD account number (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> Invalid input </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAristoStopsTransactionsCall(BigDecimal accountId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/aristo/stops/{accountId}"
            .replaceAll("\\{" + "accountId" + "\\}", localVarApiClient.escapeString(accountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAristoStopsTransactionsValidateBeforeCall(BigDecimal accountId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling getAristoStopsTransactions(Async)");
        }
        

        okhttp3.Call localVarCall = getAristoStopsTransactionsCall(accountId, _callback);
        return localVarCall;

    }

    /**
     * Get all stop transactions per account
     * 
     * @param accountId HD account number (required)
     * @return SelectHDStopTransResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> Invalid input </td><td>  -  </td></tr>
     </table>
     */
    public SelectHDStopTransResponse getAristoStopsTransactions(BigDecimal accountId) throws ApiException {
        ApiResponse<SelectHDStopTransResponse> localVarResp = getAristoStopsTransactionsWithHttpInfo(accountId);
        return localVarResp.getData();
    }

    /**
     * Get all stop transactions per account
     * 
     * @param accountId HD account number (required)
     * @return ApiResponse&lt;SelectHDStopTransResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> Invalid input </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SelectHDStopTransResponse> getAristoStopsTransactionsWithHttpInfo(BigDecimal accountId) throws ApiException {
        okhttp3.Call localVarCall = getAristoStopsTransactionsValidateBeforeCall(accountId, null);
        Type localVarReturnType = new TypeToken<SelectHDStopTransResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all stop transactions per account (asynchronously)
     * 
     * @param accountId HD account number (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> Invalid input </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAristoStopsTransactionsAsync(BigDecimal accountId, final ApiCallback<SelectHDStopTransResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAristoStopsTransactionsValidateBeforeCall(accountId, _callback);
        Type localVarReturnType = new TypeToken<SelectHDStopTransResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
